<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Tracker</title>
</head>
<body>
    <h1>Receipts</h1>
    <div>
        <%%>
        <div>
            <h3>Receipt ID</h3>
            <h2>Receipt Date | Receipt Name</h2>
            <h3>Overall Cost: Overall Cost</h3>
            <h4>Categories:</h4>
            <ul></ul>
            <form>
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">Delete</button>
                <a herf="/edit/">Edit</a>
            </form>
        </div>
        <% %>
    </div>
</body>
</html>